*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background: var(--subtle);
}

.container{
    max-width: 1140px !important;
}

header{
    backdrop-filter: blur(10px);

    width: 100%;
    position: sticky;
    top: 0;
    padding: 32px 0;
    z-index: 3;
}

header > .navbar{    
     max-width: 1140px;
}

header  .navbar-item{
    font-family: wotfard3;
    font-size: 22px;
    color: var(--text-color);
    text-decoration: none;
}

header .navbar-nav ul{
    margin-top: 15px;
    font-family: wotfard1;
    font-size: 16px;
}

header .navbar-nav ul a{
    color: var(--text-color);
    text-decoration: none;
}

header .navbar-nav .about-us{
    color: var(--primary-color);
}

main{
    padding: 70px 0 80px 0;

    display: flex;
    flex-direction: column;
    gap: 48px;
}

@media screen and (width <= 1120px){
    .images .seconde{
        display: none;
    }

    .images .first{
        width: 330px;
        height: 360px;
    }

    .images .third{
        width: 330px;
        height: 360px;
    }
}

@media screen and (width <= 768px){
    .images .third{
        display: none;
    }

    .images .first{
        width: 360px;
        height: 360px;
    }
}

main .about-text{
    max-width: 1140px;
}

.title p{
    max-width: 1140px;
    color: var(--gray-color);
    font-family: Wotfard2;
    font-size: 16px;
    text-align: center;
}

main .socialmedia{
    max-width: 1140px;
    margin-left: 200px;
}

@media screen and (width <= 768px){
    main .socialmedia{
        margin-left: 15px;
    }
}

.socialmedia .socialmedia-title{
    color: var(--gray-color);
    font-family: Wotfard2;
    font-size: 16px;
}

.socialmedia-links ul li a{
    color: var(--text-color);
    font-family: Wotfard2;
    font-size: 16px;
    text-decoration-line: underline;
}

main .work{
    margin-left: 205px;   
}

@media screen and (width <= 768px){
    main .work{
        margin-left: 5px;
    }
}

.work .work-title{
    color: var(--gray-color);
    font-family: Wotfard2;
    font-size: 16px;
}

.work-elements .card .card-title{
    color: var(--text-color);
    font-family: Wotfard2;
    font-size: 24px;   
}

.work-elements .card .card-text{
    color: var(--text-color);
    font-family: Wotfard2;
    font-size: 16px;   
}

main .sideProject{
    margin-left: 174px;
}

@media screen and (width <= 768px){
    main .sideProject{
        margin-left: -28px;
    }
    .sideProject .sideProject-title{
        padding-left: 28px;
    }
}

.sideProject .sideProject-title{
    color: var(--gray-color);
    font-family: Wotfard2;
    font-size: 16px;
} 

.sideProject-elements .card .card-title{
    color: var(--text-color);
    font-family: Wotfard2;
    font-size: 24px;
}

.sideProject-elements .card .card-text{
    color: var(--text-color);
    font-family: Wotfard2;
    font-size: 16px;
}

footer{
    box-shadow: 0 0 0 100vmax #bfdef2;
    background: #bfdef2;
    clip-path: inset(0 -100vmax);
}

footer .info{
    margin-top: 32px;
    margin-bottom: 32px;
}

footer .info .s1{
    font-family: Wotfard3;
    font-size: 22px;
    color: var(--text-color);
}

footer .info .s2{
    margin-top: 16px;
    font-family: Wotfard1;
    font-size: 14px;
    color: var(--text-color);
}

footer .info .s3{
    margin-top: auto;
    margin-bottom: 32px;

    font-family: Wotfard2;
    font-size: 12px;
    color: var(--gray-color);
}

footer .connection{
    margin-top: 32px;
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;
    gap: 21px;
}

@media screen and (width >= 768px){
    footer .connection{
        margin-right: 0;
    }
}

footer .connection p{
    font-family: Wotfard2;
    font-size: 14px;
    color: var(--gray-color);
}

footer .connection a{
    font-family: Wotfard2;
    font-size: 14px;
    color: var(--text-color);
}