*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container{
    max-width: 1140px !important;
}


header{
    background: rgb(194, 224, 244);
    width: 100%;
    position: sticky;
    top: 0;
    padding: 32px 0;
    z-index: 3;
}

header > .navbar{    
    max-width: 1140px !important;
}

header  .navbar-item{
    font-family: wotfard3;
    font-size: 22px;
    color: var(--text-color);
    text-decoration: none;
}

header .navbar-nav ul{
    margin-top: 15px;

    font-family: wotfard1;
    font-size: 16px;
}

header .navbar-nav ul a{
    text-decoration: none;
    color: var(--text-color);
}

header span{
    margin-left: auto;
}

.hero-section{
    background: var(--background-gradiant);
    width: 100%;
}

.hero-section .hero-section-title{
    padding-top: 124px;
    padding-bottom: 48px;
    max-width: 1140px;
    margin: 0 auto;

    color: var(--text-color);
    font-family: Wotfard3;
    font-size: 38px;
}

main{
    padding: 72px 0 178px 0;
    position: relative;

    display: flex;
    gap: 128px;
}

main .content{
    display: flex;
    flex-flow: column;
    gap: 32px;
}

.content h2{
    color: var(--primary-color);
    font-family: Wotfard3;
    font-size: 32px;
}

.content .data{
    margin-bottom: 64px;

    display: flex;
    flex-flow: column;
    gap: 16px;
}

.content .data p{
    color: var(--text-color);
    font-family: Wotfard2;
    font-size: 19px;
}

.content .data img{
    width: 100%;
}

.data .data-element ul li{
    margin-bottom: 16px;

    display: flex;
    gap: 21px;
}

.data-element li span{
    margin-top: 3px;
}

main aside{
    display: flex;
    flex-flow: column;
    gap: 32px;

    position: sticky;
    top: 350px;
}

@media screen and (width < 768px) {
    main{
        padding-bottom: 36px;
    }

    main aside{
        display: none;
    }
}

@media screen and (width < 1120px) {
    main{
        padding-bottom: 32px;
    }
}

aside h3{
    color: var(--text-color);
    font-family: Wotfard3;
    font-size: 16px;
    letter-spacing: 2px;
}

aside ul{
    display: flex;
    flex-flow: column;
    gap: 16px;
}

aside ul p{
    color: var(--gray-color);
    font-family: Wotfard3;
    font-size: 16px;
}

aside ul .aside-p1{
    color: var(--primary-color);
}

footer{
    box-shadow: 0 0 0 100vmax #bfdef2;
    background: #bfdef2;
    clip-path: inset(0 -100vmax);
    margin-bottom: -25px;
}

footer .info{
    margin-top: 32px;
    margin-bottom: 32px;
}

footer .info .s1{
    font-family: Wotfard3;
    font-size: 22px;
    color: var(--text-color);
}

footer .info .s2{
    margin-top: 16px;
    font-family: Wotfard1;
    font-size: 14px;
    color: var(--text-color);
}

footer .info .s3{
    margin-top: auto;
    margin-bottom: 32px;

    font-family: Wotfard2;
    font-size: 12px;
    color: var(--gray-color);
}

footer .connection{
    margin-top: 32px;
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;
    gap: 21px;
}

@media screen and (width >= 768px){
    footer .connection{
        margin-right: 0;
    }
}

footer .connection p{
    font-family: Wotfard2;
    font-size: 14px;
    color: var(--gray-color);
}

footer .connection a{
    font-family: Wotfard2;
    font-size: 14px;
    color: var(--text-color);
}
