*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

body{
    background: var(--background-gradiant);
}

.container{
    max-width: 1140px !important;
}

header{
    background: rgb(194, 224, 243);
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    padding: 32px 0;
    z-index: 3;
}

header > .navbar{    
    max-width: 1140px;
}

header  .navbar-item{
    font-family: wotfard3;
    font-size: 22px;
    text-decoration: none;
    color: var(--text-color);
}

header .navbar-nav ul{
    margin-top: 15px;
    font-family: wotfard1;
    font-size: 16px;
}

header .navbar-nav ul a{
    text-decoration: none;
    color: var(--text-color);
}

header .navbar-icon{
    margin-left: auto;
}

.hero-section{
    margin-top: 100px;
    width: 100%;
    }

.hero-section .hero-section-title{
    font-family: Wotfard3;
    font-size: 38px;
    color: var(--text-color);
    max-width: 1140px;
    margin: 0 auto;
}

.hero-section svg{
    width: 100%;
    margin-top: 35px;
}


@media screen and (width < 768px) {
    .hero-section .hero-section-title{
        font-size: 24px;
    }
}

main{
    width: 100%;
    box-shadow: 0 0 0 100vmax white;
    background: white;
    clip-path: inset(0 -100vmax);
    margin-top: -5px;
    position: relative !important;
}

main .s1{
    width: 544px;
    height: 15px;
    color: var(--secondary-color);
    font-family: wotfard3;
    font-size: 12px;
}

main .s2{
    width: 352px;
    height: 15px;
    position: sticky;
    top: 125px;
    color: var(--secondary-color);
    font-family: wotfard3;
    font-size: 12px;
}

main .content a:hover div h2{
    color: var(--secondary-color);
}

main .content a{
    display: flex;
    flex-flow: column;
    gap: 16px;

}

main .content .elements{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main .content .elements h2{
    font-family: Wotfard3;
    font-size: 22px;
    color: var(--text-color);
}

main .content .elements p{
    font-family: Wotfard2;
    font-size: 16px;
    color: var(--text-color);
}

main .content .elements span{
    font-family: Wotfard3;
    font-size: 16px;
    color: var(--text-color);
}

main aside .aside--elements{
    position: sticky;
    top: 170px;
}

main aside .aside--elements ul{
    display: flex;
    flex-direction: column;
}

main aside .aside--elements ul li:hover svg{
    transform: translate(8px);
}

main aside .aside--elements ul li{
    display: flex;
    gap: 21px;
    cursor: pointer;
}

main aside .aside--elements ul li p{
    font-family: Wotfard1;
    font-size: 19px;
    color: var(--text-color);
    width: 100%;
}
.svg-holder{
    width: 11px;
    display: block;
    height: 9px;
}
main aside .aside--elements ul li svg{
    transition: 0.5s;
    width: 11px ;
    height: 9px ;
    margin-top: 6px;
}

footer .info{
    margin-top: 32px;
    margin-bottom: 32px;
}

footer .info .s1{
    font-family: Wotfard3;
    font-size: 22px;
    color: var(--text-color);
}

footer .info .s2{
    margin-top: 16px;
    font-family: Wotfard1;
    font-size: 14px;
    color: var(--text-color);
}

footer .info .s3{
    margin-top: auto;
    margin-bottom: 32px;

    font-family: Wotfard2;
    font-size: 12px;
    color: var(--gray-color);
}

footer .connection{
    margin-top: 32px;
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;
    gap: 21px;
}

@media screen and (width >= 768px){
    footer .connection{
        margin-right: 0;
    }
}

footer .connection p{
    font-family: Wotfard2;
    font-size: 14px;
    color: var(--gray-color);
}

footer .connection a{
    font-family: Wotfard2;
    font-size: 14px;
    color: var(--text-color);
}

